{% extends 'detox.layout.twig' %}

{% block content %}
<main class="content" role="main">
    
    <div class="container">

        <article class="post">
            
            <header class="post-header">
                <h3 class="post-title">{{post.title}}</h3>
            </header>
            
            <section class="post-content">
                <p>{{ post.body }}</p>
            </section>
            
            <footer class="post-footer">
                
                <section class="f-1">
                  <p class="f-post-time"><time datetime="{{post.date|date('Y-m-d')}}">{{post.date|date('d M Y')}}</time></p>
                </section>
                                
                <section class="f-2">
                
                    
                    {% if post.categories %}       
                    <span class="f-post-tags"><i class="fa fa-tag"></i> {{ post.catlinks|join(' ') }}</span>
                    {% endif %}
                </section>
                
            </footer>
            
        </article>
        
    </div>

</main>


{% endblock %}


    